:root.image-background-color-picker-applicable {
    // first, remove all backgrounds
    &,
    & > body,
    & > body > img {
        background: unset;
    }

    // second, the code will set/remove an appropriate background-color on the root
    // it can't be hardcoded here since it's variable

    // third, paint checkers if the code sets this class
    &.image-background-color-picker-checkerboard {
        background-color: darkgrey;
        background-image: linear-gradient(
                45deg,
                grey 25%,
                transparent 25%,
                transparent 75%,
                grey 75%,
                grey
            ),
            linear-gradient(
                45deg,
                grey 25%,
                transparent 25%,
                transparent 75%,
                grey 75%,
                grey
            );
        background-size: 4vmin 4vmin;
        background-position: 0 0, 2vmin 2vmin;
    }
}
