# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
/.yarn/*
!/.yarn/plugins/
!/.yarn/releases/
/.pnp.js

/extensions/*/.cache/
/extensions/*/dist/
/extensions/*/extension/
sources.zip
