// from basscss
.my2 {
    @extend .mb2;
    @extend .mt2;
}

.mt2 {
    margin-top: 1em;
}

.mb2 {
    margin-bottom: 1em;
}

.block {
    display: block;
}

.display-none {
    display: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-auto {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}
// end of basscss

label {
    font-weight: bold;
}

input[type="number"],
input[type="text"] {
    &:valid {
        border-color: green !important;
    }

    &:invalid {
        border-color: red !important;
    }
}

textarea,
#fileNamePattern {
    width: 100%;
}

#positionPicker {
    border-collapse: collapse;

    .image {
        background-color: grey;
    }

    $horizontal-padding: 6em;
    $vertical-padding: 3em;

    td {
        padding: 1em;

        &:nth-child(3) {
            padding-left: $horizontal-padding;
            padding-right: $horizontal-padding;
        }
    }

    tr:nth-child(3) td {
        padding-top: $vertical-padding;
        padding-bottom: $vertical-padding;
    }
}
